.freatures {
	height: auto;
	margin: 5rem 0 5rem 0;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.freatures strong {
	font-size: 2.5rem;
	color: #ffff;
	font-weight: 500;
	margin-top: 3em;
}
.freatures p {
	font-weight: 400;
	color: #ffff;
	width: 35%;
	margin-top: 1rem;
	text-align: center;
}
.cardSection {
	display: flex;
	gap: 2%;
	margin-top: 2rem;
}
.card {
	height: 700px;
	width: 30rem;
	background-size: cover;
	background-position: center;
	border: none;
	display: inline;
}

.cardText {
	position: relative;
	top: 550px;
	left: 1rem;
}
.cardText p {
	display: block;
}

.card1 {
	background-image: url("../../../images/shop2.jpg");
}
.card2 {
	background-image: url("../../../images/products.jpg");
}
.card3 {
	background-image: url("../../../images/coffee2.jpg");
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
	.card {
		width: 25rem;
		margin-left: 2rem;
	}
}
@media only screen and (min-width: 1440px) and (max-width: 1650px) {
	.freatures {
		height: auto;
		margin-bottom: 5rem;
	}
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
	.freatures {
		height: auto;
		margin-bottom: 5rem;
	}
	.freatures strong {
		text-align: center;
		line-height: 2.5rem;
	}
	.freatures p {
		width: 95%;
	}
	.cardSection {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.card {
		width: 20rem;
		height: 500px;
		margin-bottom: 1rem;
	}
	.cardText {
		top: 350px;
	}
}
